
body {
    font-family: Georgia, serif; 
    background-image: url('/Users/dayna/Desktop/ist263/activity6/SYRACUSE_BlockS_ORANGE_CMYK.jpg'); 
    background-repeat: repeat;
    background-size: cover;
  }
  
  h1, h2 {
    color: firebrick; 
  }
  
  h1 {
    font-size: 2em; 
  }
  
  h2 {
    font-size: 1.5em; 
  }
  

  .evenrow {
    background-color: lavenderblush; 
  }
  

  p {
    background-color: #FFD700; 
    color: #000080; 
    border: 2px solid #FF5733; 
    padding: 10px;
    width: fit-content;
    margin: 20px auto; 
    font-size: 20px;
    text-align: center;
  }
  
